/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]serSettings/

/[Bb]uild/

/*.csproj
/*.csproj.user
/*.sln

/.vs/
/.vscode/
/.idea/

/Assets/Plugins/Editor/JetBrains/
/Assets/Plugins/Editor/JetBrains.meta

/config.user.json

/SAU_Plugins/

/Assets/ExportedAssets/
/Assets/ExportedAssets.meta
/IMGSharp.rar
/SanAndreasUnity.rar
/SanAndreasUnity2.rar
/侠盗猎车手：圣安地列斯简体中文版.rar
/Assets/Models
/Assets/GTA_SA
/Assets/GTA_SA.meta
/imgtool20/IMGTool.exe
/imgtool20/ReadMe.txt
/MEdv032.rar
/MapEditorv032/MEd.exe
/MapEditorv032/MEd.ini
/MapEditorv032/bookmarks.ini
/MapEditorv032/msvcp71.dll
/MapEditorv032/msvcr71.dll
/MapEditorv032/readme.txt
/txdWorkShop2012_3/GTAINTERFACE.dll
/txdWorkShop2012_3/README.TXT
/txdWorkShop2012_3/libsquish.dll
/txdWorkShop2012_3/txdworkshop.exe
/txdws2012_3.rar
/Assets/_TerrainAutoUpgrade
/Assets/_TerrainAutoUpgrade.meta
/Assets/CollisionModels
/Assets/GrandTheftAuto
/Assets/GTA_SA
/Assets/BDWorld
/Assets/CollisionModels
/Assets/ExportedAssets
/Assets/GPUInstancer
/Assets/ddd
/Assets/GPUInstancer
/Assets/NatureManufacture Assets
/Assets/SplitScenes
/Assets/FinalMainOK.unity
/Assets/Scenes/Main 1.unity
